@import url('https://fonts.googleapis.com/css?family=Roboto:700');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#wrapper {
    position: relative;
}
.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
}
.hint {
    color: #496c0a;
    text-decoration: underline;
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
}
img {
    max-width: 100%;
}
.select__build, .select__floor {
    position: absolute;
}
.select__build path, .select__floor path {
    cursor: pointer;
    opacity: 0;
    fill: #496c0a;
    stroke: #44fab3;
}
.select__floor path {
    opacity: 0.3;
    fill: #496c0a;
}
.select__build path:hover {
    opacity: .4;
}
.select__floor path:hover {
    opacity: .8
}
.piking h3 {
    color: #496c0a;
    font-size: 24px;
    text-align: center;
}
.piking .forma__wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
}
.piking .forma__wrapper label {
    font-size: 12px;
    color: #9f9e9e;
}
.piking .input .inner {
  overflow: hidden;
  padding: 0;
  margin-top: 5px;
  border: 1px solid #9f9e9e;
  border-radius: 3px;
}
.piking .input input {
  width: 100%;
  margin: 0;
  padding: 0 20px;
  border: 0;
  background: none;
  font-weight: bold;
  height: 40px;
}
.piking .input input:active {
    border-color: #496c0a;
}
.piking .forma__wrapper .house {
    max-width: 555px;
    width: 555px;
    margin-right: 20px;
    display: block;
}
.piking .forma__wrapper .entrance {
    max-width: 360px;
    width: 360px;
    margin-right: 20px;
    display: block;
}
.piking .forma__wrapper .floor {
    max-width: 165px;
    display: block;
}
.piking .btn__wrapper {
    padding: 0 20px;
}
.piking button {
    cursor: pointer;
    max-width: 1024px;
    margin: 20px auto;
    display: block;
    background-color: #496c0a;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 3px 4px rgba(0,0,0,.3);
}
.piking button:hover {
    box-shadow: 0 3px 4px rgba(0,0,0,.3) inset;
}

@media screen and (max-width: 1000px) {
    .logo{
        width: 200px;
    }
    .hint{
        font-size:20px;
    }
}
@media screen and (max-width: 820px) {
    .logo{
        width: 150px;
    }
    .hint{
        font-size: 18px;
    }
}
@media screen and (max-width: 620px) {
    .logo{
        width: 100px;
    }
    .hint {
        font-size: 16px;
    }
}