@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#wrapper__dist,
#wrapper__build {
    position: relative;
}
.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
}
.hint {
    color: #496c0a;
    font-weight: bold;
    text-decoration: underline;
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
}
img {
    max-width: 100%;
}
.select__build,
.select__floor,
.select__apartament {
    position: absolute;
}
.select__build path,
.select__floor path,
.select__apartament path {
    cursor: pointer;
    opacity: 0;
    fill: #496c0a;
    stroke: #88c369;
}
.select__floor path,
.select__apartament path {
    opacity: 0.3;
    fill: #496c0a;
}
.select__build path:hover {
    opacity: .4;
}
.select__floor path:hover,
.select__apartament path:hover {
    opacity: .8
}
.piking h3 {
    color: #496c0a;
    font-size: 24px;
    text-align: center;
    margin: 10px auto;
}
.piking .forma__wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
}
.piking .forma__wrapper label {
    font-size: 12px;
    font-weight: bold;
    color: #9f9e9e;
}
.piking .input .inner {
  overflow: hidden;
  padding: 0;
  margin-top: 5px;
  border: 1px solid #9f9e9e;
  border-radius: 3px;
}
.piking .input select,
.piking .input input {
  width: 100%;
  margin: 0;
  padding: 0 15px 0;
  border: 0;
  background: none;
  font-weight: bold;
  height: 30px;
}

.piking .forma__wrapper .house {
    max-width: 555px;
    width: 555px;
    margin-right: 20px;
    display: block;
}
.piking .forma__wrapper .entrance {
    max-width: 360px;
    width: 360px;
    margin-right: 20px;
    display: block;
}
.piking .forma__wrapper .floor {
    max-width: 165px;
    display: block;
}
.btn__wrapper {
    padding: 0 20px;
    margin-bottom: 50px;
}
button {
    cursor: pointer;
    max-width: 1024px;
    margin: 20px auto;
    display: block;
    background-color: #496c0a;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 3px 4px rgba(0,0,0,.3);
}
button:hover {
    box-shadow: 0 3px 4px rgba(0,0,0,.3) inset;
}
.select__apart {
    display: none;
}
.floor__figure {
    display: block;
    width: 40vw;
    float: left;
    margin: 0 40px 50px 110px;;
    position: relative;
}
/*Описание планировки этажа*/
.piking .discription__floor {
    float: left;
    padding: 100px 10px;
    max-width: 500px;
}
.piking .discription__floor p {
    font-size: 14px;
    margin: 15px auto;
    line-height: 25px;
}
.piking .discription__floor span {
    font-size: 14px;
    font-weight: bold;
    color: inherit;
    padding-left: 20px;
}
/*Описание микрорайона*/
.discription__wrapper {
    padding: 50px 60px 20px;
}
.discription__wrapper h1 {
    text-decoration: underline;
    text-align: center;
    font-weight: lighter;
    margin: 0;
}
.information {
    max-width: 790px;
    float: left;
    text-transform: uppercase;
    margin-right: 40px;
}
.information h2 {
    font-size: 28px;
    color: #88c369;
    font-weight: bold;
    margin: 26px 0 18px;
}
.information p {
    font-size: 14px;
    margin: 0;
}
aside.description__floor,
aside.numbers,
aside.apart__wrapper {
    max-width: 400px;
    float: left;
    color: #41443b;
    margin-bottom: 30px;
}
aside.numbers h2 {
    font-weight: bolder;
    font-size: 30px;
    margin: 24px 0 0;
}
aside.numbers p {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}
aside.numbers b {
    color: #7dc600;
}
aside b {
    font-size: 32px;
    font-weight: 700; 
}
aside h3 {
    font-size: 18px;
    margin: 35px 0 0;
    line-height: 26px;
}
footer {
    clear:both;
    text-align: center;
}
footer img {
    text-align: center;
}
footer p {
    text-transform: uppercase;
    font-size: 14px;
}
footer .percent {
    max-width: 1070px;
    margin: auto;
}
footer span {
    font-size: 30px;
    color: #88c369;
}
.description__floor span {
    margin-left: 40px;
    font-weight: bold;
    font-size: 16px;
}

/*подписи к домам*/
#wrapper__dist .sign .two-two,
#wrapper__dist .sign .two-one,
#wrapper__dist .sign .three-two,
#wrapper__dist .sign .three-one {
    position: absolute;
    border: 1px solid #88c369;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    font-size: 1.2vw;
    background: #88c369;
    color: #fff;
    display: none;
}
#wrapper__dist .two-two::after, #wrapper__dist .two-two::before,
#wrapper__dist .two-one::after, #wrapper__dist .two-one::before,
#wrapper__dist .three-two::after, #wrapper__dist .three-two::before,
#wrapper__dist .three-one::after, #wrapper__dist .three-one::before {
    content: '';
    position: absolute;
    background: #88c369;
    left: 20px; bottom: -11px;
    width: 20px; height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#wrapper__dist .sign .two-two {
    top: 13%;
    left: 53%;
}
#wrapper__dist .sign .two-one {
    top: 5%;
    left: 41%;
}
#wrapper__dist .sign .three-two {
    top: 28%;
    left: 28%;
}
#wrapper__dist .sign .three-one {
    top: 14%;
    left: 22%;
}
/*Подписи к этажам*/
#wrapper__build .sign_3e {
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    transform: perspective(200px) rotateY(30deg);
    display: none;
}
.sign35 {
    top: 72%;
    right: 23%;
}
.sign36 {
    top: 67%;
    right: 23%;
}
.sign37 {
    top: 62%;
    right: 23%;
}
.sign37 {
    top: 62%;
    right: 23%;
}
#wrapper__build .sign_2e {
    position: absolute;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}
.sign29 {
    top: 58.5%;
    left: 51.8%;
    transform: perspective(200px) rotateZ(2deg) rotateY(30deg);
}
.sign210 {
    top: 54.5%;
    left: 51%;
    transform: perspective(200px) rotateZ(2deg) rotateY(30deg);
}
.sign211 {
    top: 50.5%;
    left: 51%;
    transform: perspective(200px) rotateZ(3deg) rotateY(30deg);
}
.sign212 {
    top: 46.3%;
    left: 51%;
    transform: perspective(200px) rotateZ(4deg) rotateY(30deg);
}
.sign213 {
    top: 42%;
    left: 51%;
    transform: perspective(200px) rotateZ(6deg) rotateY(30deg);
}
.sign214 {
    top: 37.7%;
    left: 51%;
    transform: perspective(200px) rotateZ(6deg) rotateY(30deg);
}
.sign215 {
    top: 33.5%;
    left: 51%;
    transform: perspective(200px) rotateZ(5deg) rotateY(30deg);
}
.sign216 {
    top: 29.5%;
    left: 51%;
    transform: perspective(200px) rotateZ(5deg) rotateY(30deg);
}
#wrapper__build .sign_1e {
    position: absolute;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}
.sign11 {
    top: 91.5%;
    left: 38.7%;
    transform: perspective(200px) rotateZ(1deg) rotateY(35deg);
}
.sign12 {
    top: 88%;
    left: 38.7%;
    transform: perspective(200px) rotateZ(1deg) rotateY(35deg);
}
.sign13 {
    top: 84.3%;
    left: 38.7%;
    transform: perspective(200px) rotateZ(1deg) rotateY(35deg);
}
.sign14 {
    top: 80.8%;
    left: 38.7%;
    transform: perspective(200px) rotateZ(1deg) rotateY(35deg);
}
.sign15 {
    top: 77.3%;
    left: 38.7%;
    transform: perspective(200px) rotateZ(2deg) rotateY(35deg);
}
.sign16 {
    top: 73.8%;
    left: 38.7%;
    transform: perspective(200px) rotateZ(2deg) rotateY(35deg);
}
.sign17 {
    top: 70.3%;
    left: 38.7%;
    transform: perspective(200px) rotateZ(2deg) rotateY(35deg);
}
.sign18 {
    top: 66.6%;
    left: 38.7%;
    transform: perspective(200px) rotateZ(1deg) rotateY(35deg);
}
.sign19 {
    top: 63%;
    left: 38.7%;
    transform: perspective(200px) rotateZ(2deg) rotateY(35deg);
}
.sign110 {
    top: 59.6%;
    left: 38%;
    transform: perspective(200px) rotateZ(2deg) rotateY(35deg);
}
.sign111 {
    top: 56%;
    left: 38%;
    transform: perspective(200px) rotateZ(3deg) rotateY(35deg);
}
.sign112 {
    top: 52.3%;
    left: 38%;
    transform: perspective(200px) rotateZ(3deg) rotateY(35deg);
}
.sign113 {
    top: 48.7%;
    left: 38%;
    transform: perspective(200px) rotateZ(4deg) rotateY(35deg);
}
.sign114 {
    top: 45%;
    left: 38%;
    transform: perspective(200px) rotateZ(4deg) rotateY(35deg);
}
.sign115 {
    top: 41.5%;
    left: 38%;
    transform: perspective(200px) rotateZ(4deg) rotateY(35deg);
}
.sign116 {
    top: 38%;
    left: 38%;
    transform: perspective(200px) rotateZ(5deg) rotateY(35deg);
}

/*Описание квартиры*/
.apart__wrapper {
    display: none;
    clear: both;
    max-width: 1000px;
    margin: 0 auto;
    color: #41443b;
}
.apartament {
    position: relative;
    display: block;
    width: 800px; 
}
.apart {
    float: left;
    display: none;
    max-width: 500px;
}
.vision {
    display: block;
}
.apart__wrapper {
    max-width: 500px;
}
.apart__wrapper aside {
    text-align: center;
    line-height: 10px;
    width: 300px;
    float: left;
    margin: 0 auto;
}
.apart__wrapper aside span {
    text-decoration: underline;
    font-weight: bold;
}
.apart__wrapper aside p {
    display: block;
}

@media screen and (max-width: 1000px) {
    .logo{
        width: 200px;
    }
    .hint{
        font-size:20px;
    }
    .information {
        margin: 0;
    }
    .piking .input #floor {
        padding: 0;
    }
    .btn__wrapper {
        padding: 0 10px;
        margin: 0 0 30px 0;
    }
    .floor__figure {
        margin: 0 30px 50px 45px;
    }
}
@media screen and (max-width: 820px) {
    .logo{
        width: 150px;
    }
    .hint{
        font-size: 18px;
    }
    .discription__wrapper .information h2 {
        text-align: center;
    }
    .discription__wrapper .information p {
        text-align: justify;
    }
    .floor__figure {
        margin: 0 20px 50px 20px;
    }
    aside.description__floor  {
        font-size: 14px;
        max-width: 300px;
    }
    aside.description__floor span,
    aside.description__floor strong {
        font-size: 12px;
    }
}
@media screen and (max-width: 620px) {
    .logo{
        width: 100px;
    }
    .hint {
        font-size: 16px;
    }
    .discription__wrapper h1 {
        font-size: 30px;
    }
    .discription__wrapper .information p {
        text-align: justify;
    }
    .discription__wrapper .information h2 {
        font-size: 20px;
    }
    .discription__wrapper .information p {
        font-size: 12px;
    }
    footer p {
        font-size: 11px;
    }
    .floor__figure {
        margin: 0 10px 50px 10px;
    }
}